<div class="card card-widget">
  <div class="card-header with-border">
    <h3 class="card-title">Editar veículo</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" #f="ngForm">
      <div class="form-group">
          <label for="name">ID</label>
          <input type="text" [value]="id" class="form-control input-w50" id="name" disabled>
      </div>
      <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" formControlName="name" class="form-control input-w50" id="name">
      </div>
      <div class="form-group">
          <label for="model">Modelo</label>
          <input type="text" formControlName="model" class="form-control input-w50" id="model">
      </div>
      <div class="form-group">
        <label for="mark">Marca</label>
        <select [compareWith]="compareFn" formControlName="mark" class="form-control input-w50" id="mark" name="mark">
          <option *ngFor="let $item of marks" [ngValue]="$item">
              {{ $item.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
          <label for="cityConsume">Consumo na cidade</label>
          <input type="number" formControlName="cityConsume" class="form-control input-w50" id="cityConsume">
      </div>
      <div class="form-group">
          <label for="highwayConsume">Consumo na rodovia</label>
          <input type="number" formControlName="highwayConsume" class="form-control input-w50" id="highwayConsume">
      </div>
      <!-- <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"> -->
      <button type="button" class="btn btn-info" (click)="submit()">Salvar</button>
  </form>
  </div>
</div>
